    <ul class="listcontainer">
        <li *ngFor="let patient of patients" >
            <div class="listrepeater">
                <div class="listrepeater-header">
                    <p class="listrepeater-header--title">Patient Information</p>
                </div>
                <div class="listrepeater-body">
                    <img class="listrepeater-image" alt="patientIconSmall" src="{{patient.patient.imageUrl}}">
                    <div class="listrepeater-text text-2">
                        <p>{{patient.patient.lastName}},</p>
                        <p>{{patient.patient.firstName}}</p>
                    </div>
                    <button (click)="gotoPatientDetail(patient)" class="listrepeater-button">DETAILS</button>
                </div>
            </div>
        </li>
    </ul>
