<div id="appContainer" class="container clearfix">
    <div id="appContainer" class="container heading-container">
        <div id="header" class="element element-1">
            <button type="button" [disabled]="!canGoBack" (click)="goBack()">
                <img class="image image-1" [class.active]="canGoBack" src="images/left-arrow.svg">
            </button>
            <p id="headerTitle" class="text text-1">{{title}}</p>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
