<div class="listcontainer">
    <ul>
        <li class="clearfix" *ngFor="let patient of patients" >
            <div id="infoSnippet" class="containerrepeater">
                <div id="listRepeater" class="element element-3">
                    <div id="listRepeaterHeader" class="element-2">
                        <p id="listRepeaterTitle" class="textheader">Patient Information</p>
                    </div>
                    <div class="element-5">
                        <img class="image" alt="patientIconSmall" src="{{patient.patient.imageUrl}}">
                        <div id="patientName" class="text text-2">
                            <p>{{patient.patient.lastName}},</p>
                            <p>{{patient.patient.firstName}}</p>
                        </div>
                        <button (click)="gotoPatientDetail(patient)" class="_button">DETAILS</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
